* {
    margin: 0;
    padding: 0;
}

:root {
    --pink: #fc354c;
    --lblue: #0abfbc;
    --dblue: #1b2845;
    --yellow: #ffd046;
    --bg: #141414;
}

body {
    font-family: "Press Start 2P", cursive;

    overflow: hidden;
    background: var(--bg);
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

:is(a, a:visited) {
    text-decoration: none;
}

.btn-grad {
    background-image: linear-gradient(
        to right,
        var(--pink) 0%,
        var(--lblue) 51%,
        var(--pink) 100%
    );

    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px var(--lblue);
    border-radius: 10px;
    display: block;
}
.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: white;
    text-decoration: none;
}

.btn--clicked {
    content: "" !important;
    transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
    padding: 15px 2px;
    width: 50px;
    color: transparent;
    z-index: -10;
}

.color {
    display: block;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: 0.8s ease;
    border-radius: 50%;
    background-color: transparent;
}

.expanded {
    width: 200vw;
    padding-bottom: 200vw;
    height: auto;
}

.color--blue {
    background-color: #1b8bf9;
    transition-delay: 0.25s;
}

.color--orange {
    background-color: #ff6c19;
    transition-delay: 0.5s;
}

.color--green {
    background-color: #41ff9f;
    transition-delay: 0.75s;
}

.color--white {
    background-color: #f9f9f9;
    transition-delay: 1s;
}
